
test
dre.xlsx
*.xls
.venv
.env
src/ArquivosDRE/__pycache__/planForgeRefactore_copy.cpython-312.pyc
src/ArquivoResCliente/__pycache__/limpando_planilha_refactore.cpython-312.pyc
src/ArquivoResCliente/Resultado Clientes.xlsx
src/enviarEmail/__pycache__/email.cpython-312.pyc
src/ArquivosDRE/tabelaTratada.xlsx
test/2024/01T2024/Pag Poko 1º Trimestre 2024.xlsx
src/deprecated/DRE/Veratti 2023.xlsx
src/deprecated/DRE/Atacado da Casa 2023.xlsx
src/deprecated/DRE/Aquino 2023.xlsx
src/deprecated/DRE/__pycache__/tabelas.cpython-312.pyc
src/deprecated/DRE/__pycache__/tabelas.cpython-311.pyc
src/deprecated/DRE/__pycache__/conexão.cpython-312.pyc
src/deprecated/DRE/__pycache__/conexão.cpython-311.pyc
src/deprecated/DRE/__pycache__/analise.cpython-312.pyc
src/deprecated/DRE/__pycache__/analise.cpython-311.pyc
src/deprecated/DRE/__pycache__/__init__.cpython-312.pyc
src/deprecated/DRE/__pycache__/__init__.cpython-311.pyc
src/deprecated/dashboards/Novo dre.pbix
src/deprecated/dashboards/Layout DRE v7.pbix
src/deprecated/dashboards/Layout DRE v6.pbix
src/deprecated/dashboards/Layout DRE v5.pbix
src/deprecated/dashboards/Layout DRE v4.pbix
src/deprecated/dashboards/Layout DRE v2.pbix
src/deprecated/dashboards/Layout DRE v1.pbix
src/deprecated/dashboards/Layout Analise v5.pbix
src/deprecated/dashboards/Layout Analise v3.pbix
src/deprecated/dashboards/Layout Analise v2.pbix
src/deprecated/dashboards/Dre-versão f1.pbix
src/deprecated/dashboards/Analise venda_.pbix
src/deprecated/dashboards/Analise venda.pbix
src/CmdSQL/LogComandos.sql
src/ArquivosDRE/tabelaTratada-2023.xlsx
src/ArquivosDRE/Novo dre.pbix
src/ArquivosDRE/Dre-versão f1.pbix
src/ArquivoResCliente/Analise venda.pbix
src/CmdSQL/ComandosLog.txt
ComandosLog.txt
src/ArquivoResCliente/~$Resultado Clientes.xlsx
test/__init__.py
src/ArquivosDRE/~$tabelaTratada.xlsx
